*{margin: 0; padding:0}

@font-face{
    font-family:'Glyphicons Halflings';
    src:url(./fonts/glyphicons-halflings-regular.eot);
}

div.menu{
    width: 100%;
    height: 50px;
    background-color:#333333;
    font-family:Helvetica;
    
}

a{
    text-decoration: none;
}

.menu span{
    color: #ffffff;
    line-height: 50px;
    padding: 0 30px 3px 30px;
    font-weight: lighter;

    transition: border 0.5s;
}


a:hover span{
    border-bottom: 4px solid silver;
    /* border: 1px solid white; */
}

a:active span, a:target span{
    border-bottom: 4px solid #ffffff;
}

.question{
    border-radius: 5px;
    /*border: 1px solid white;
    background-color: #FEF2DD;
    text-decoration: none; */
    resize: none;
    width: 250px;
    height: 100px;
    font-size: 30px;
    float:right;
    position: relative;
    right: 40px;
    top:-30px;
}

.question-div p {
    font-size: 40px;
    position: relative;
    top:30px;
    left:30px;
}

.question-div{
    position: relative;
    width: 560px;
    height: 170px;
    border: 2px solid blue;
    border-radius: 15px;
    margin-top: 50px;
    /* padding:30px; */

}
.question-div input{
    
    position: relative;
    top: 90px;
    left: 290px;
    width: 100px;
    cursor: pointer;

}
input:hover{
    background-color: silver;
    border-radius: 3px;
}

.answer{
    width: 100%;
    height: 500px;
    text-align: center;
    /* padding:50px; */
}

.answer h1{
    margin-top:50px;
}
.answer-child input{
    /* margin: 50px; */
    width: 90px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
}

.answer button{
    width: 90px;
    height: 30px;
    cursor: pointer;
}

ul.navbar-nav > li.nav-item{
    padding: 0 10px;
}

nav{
    margin: 0;
    border:0;
}

ul.navbar-nav > li.nav-item > a.nav-link:hover,
ul.navbar-nav > li.nav-item > a.nav-link:active,
ul.navbar-nav > li.nav-item > a.nav-link:focus
{
    background-color: #106bd3;
    color: #ffffff;

}


div.container.text-center h1,
div.container.text-center h3{
    padding: 16px 0;
}

div.container.text-center button a{
    text-decoration: none;
}

div.container.text-center{
    padding: 0 50px;
}

div.container.text-center div.progress{
    height: 30px;
}

div.container.text-center div.progress > div{
    line-height: 30px;
    font-size: 17px;
}

#answer_container h1{
    padding: 18px 0 40px;
}

div.container div.row.text-center form{
    margin: 60px 0;
}

div.container div.form-group textarea{
    height: 170px;
}

div.container div.form-group button{
    margin: 40px 0;
}


