<div class="question-div">
    <p>Question</p>

    <form method="post" action="/ask/send">
    <textarea name="question" class="question"></textarea>
    <input type="submit" value="Send">
    </form>
</div>