<div class="container" >
    <h3>ASK SOMETHING</h3>
    <form method="post" action="/ask">
        <textarea name="question"></textarea>
        <button type="submit" class="btn btn-primary">SEND</button>
    </form>
</div>