<!DOCTYPE html>
<html>
	<head>
		<title>Bai tap so 1</title>

	<link rel="stylesheet" href="/test/style.css">
	</head>
	<body>
		<nav class="menu">
			<span>
				Item 1
				
				<div class="menu submenu">
					<span>
						Item 1
						<div class="menu submenu">
						<span>
							Item 1
							<div class="menu submenu">
							<span>Item 1</span>
							<span>Item 2</span>
							<span>Item 3</span>
							<span>Item 4</span>
							</div>
						</span>
						<span>Item 2</span>
						<span>Item 3</span>
						<span>Item 4</span>
						</div>
					</span>
					<span>
						Item 2
						<div class="menu submenu">
						<span>
							Item 1
							<div class="menu submenu">
							<span>Item 1</span>
							<span>Item 2</span>
							<span>Item 3</span>
							<span>Item 4</span>
							</div>
							

						</span>
						<span>Item 2</span>
						<span>Item 3</span>
						<span>Item 4</span>
						</div>
					</span>
					<span>Item 3</span>
					<span>Item 4</span>
				</div>
			</span>
			<span>
				Item 2

				<div class="submenu">
					<span>Item 1</span>
					<span>Item 2</span>
					<span>Item 3</span>
					<span>Item 4</span>
				</div>
			</span>
			<span>Item 3</span>
			<span>Item 4</span>
		</nav>
<br><br><br>
		<nav class="verticle-menu">
			<span>Item 1</span>
			<span>Item 2</span>
			<span>Item 3</span>
			<span>Item 4</span>
		</nav>
        {{{body}}}
	</body>

</html>