<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Decide</title>
    <link rel="stylesheet" href="/test/style_ask.css">
</head>
<body>
    <div class="menu">
        <a href="/"><span>HOMEPAGE</span></a>
        <a href="/ask"><span>ASK</span></a>
        <a href="/answer"><span>ANSWER</span></a>
    </div>
    {{{body}}}
</body>
<script src="/test/ask.js">

</script>
</html>