<div class="container">
    <div class="text-center">
        <h1>AwkwardWebsite.com</h1>
        <form action="/" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <div id="danger1" class="alert alert-danger" style="display: none">
                    <strong>Username</strong> is required
                </div>
                <div id="danger1_1" class="alert alert-danger" style="display: none">
                    <strong id="strong"></strong> is already taken
                </div>
                <div id="danger1_2" class="alert alert-success" style="display: none">
                    <strong id="strong_success"></strong> is valid
                </div>
                <input type="text" class="form-control" name="username" placeholder="Enter Username">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <div id="danger2" class="alert alert-danger" style="display: none">
                    <strong>Email</strong> is required
                </div>
                <input type="email" class="form-control" name="email" placeholder="Enter Email">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkBox"> Terms and Conditions
                </label>
            </div>
            <div id="danger" class="alert alert-danger" style="display: none">
                You need to agree to
                <strong>Terms and Conditions</strong>
            </div>
            <button type="submit" name="send" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>