<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Decide</title>
   
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/ask_style.css">
    
</head>
<body>
        <nav class="navbar navbar-expand-sm navbar-inverse" style="border-radius: 0;">
                <ul class="nav navbar-nav">
                    <li class="{{heyActive}}">
                        <a href="/">HOMEPAGE</a>
                    </li>
                    <li class="{{askActive}}">
                        <a href="/ask">ASK</a>
                    </li>
                    <li class="{{answerActive}}">
                        <a href="/question">ANSWER</a>
                    </li>

                 </ul>
        </nav>

    {{{body}}}
</body>
</html>